
#notification { 
    position:absolute;
    padding-left: 85%;
    padding-top: 10%;
    max-width:35%;
    transform: translateY(-50%);
}

#notification-box {
    width:100%;
    border-radius:10px;
    background: var(--color);
    
}

#text {
    font-family: 'Roboto', sans-serif;
    font-size:14px;
    text-align:center;
    padding:12px;
    color: var(color);
}